<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <ul>
    <li><a href="01-simple_example_no_require.html">01-simple_example_no_require.html</a></li>
    <li><a href="02-simple_example_with_require.html">02-simple_example_with_require.html</a></li>
    <li><a href="03-requirejs_test.html">03-requirejs_test.html</a></li>
    <li><a href="04-requirejs_test.html">04-requirejs_test.html</a></li>
    <li><a href="05-index.html">05-index.html (final)</a></li>
  </ul>
  </body>
</html>
